html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif";
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "noto serif", sans-serif;
  background: #faebd7a1;
}

body a {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: #bc4040;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body p {
  font-weight: 300;
  letter-spacing: 0.1px;
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}

.sec-padding {
  padding: 60px 0;
}

.sec-title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.sec-title h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
  padding-left: 10px;
  font-weight: 300;
  color: #4c4c4c;
}

.sec-title h6 {
  font-family: "Parisienne";
  font-size: 32px;
  text-transform: capitalize;
  color: indianred;
}

.container {
  max-width: 1400px;
}

.learn-more {
  outline: 3px solid black;
  color: black;
  display: inline-block;
  padding: 10px 20px;
  margin: 30px 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.learn-more a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

.learn-more:hover {
  background: indianred;
  outline: 3px solid black;
  -webkit-box-shadow: 6px 7px #ababab;
          box-shadow: 6px 7px #ababab;
}

.learn-more:hover a {
  color: white;
}

.view-more-button {
  text-align: center;
}

.product-card {
  text-align: center;
  margin-bottom: 40px;
}

.product-card .pc-title h6 {
  margin: 10px 0;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: 800;
}

.product-card .pc-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card .pc-rates .pcr-regular-rate {
  margin-right: 10px;
}

.product-card .pc-rates .pcr-regular-rate h5 {
  font-size: 14px;
  color: grey;
}

.product-card .pc-rates .pcr-discounted-rate h4 {
  font-weight: bold;
}

.product-card:hover .quick-view {
  opacity: 1;
  display: block;
  z-index: 10;
}

.pcs-image {
  text-align: center;
  position: relative;
  display: inline-block;
}

.pcs-image .img-top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.pcs-image:hover .img-top {
  opacity: 1;
}

.pcs-image img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.pcs-image .img-top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.pcs-image .img-top img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.j-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.j-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.j-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom {
  margin: 8px 0;
}

.ht-logo {
  text-align: center;
  padding: 20px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons li {
  margin-right: 18px;
  font-size: 18px;
}

.social-icons li i {
  color: grey;
}

.header-icon .uk-button {
  padding: 0px;
  line-height: 21px;
}

.uk-modal-full .uk-modal-dialog {
  height: 100vh;
  background: #faebd7 !important;
}

.uk-modal-dialog {
  background: antiquewhite;
}

.navbar-main .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-main .nav-link {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.navbar-main .nav-link:hover {
  color: #bc4040;
}

.dropdown-content {
  padding: 20px 50px;
  display: table;
  position: absolute;
  left: -6%;
  background: #fff3e4;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 1px 1px 10px 0px #00000008;
          box-shadow: 1px 1px 10px 0px #00000008;
  display: none;
  z-index: 1000;
}

.dropdown-content ul {
  width: 100%;
  -webkit-column-count: 3;
          column-count: 3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.dropdown-content ul a {
  font-size: 13px;
  color: #4b4b4b;
  text-transform: capitalize;
}

.dropdown-content ul li {
  margin-bottom: 8px;
  margin-right: 30px;
}

.navbar-image {
  text-align: right;
  margin-top: -30px;
}

.navbar-image img {
  margin: 20px;
  height: 250px;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.dc-links {
  margin-top: 20px;
}

.dc-links li a:hover {
  color: #bc4040;
}

.nav-link {
  position: relative;
}

.nav-item:hover .dropdown-content {
  display: block;
}

.sidenav {
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  z-index: 9999999999;
  background: #faebd7;
  height: 100%;
  width: 100%;
  max-width: 500px;
  padding: 40px 0;
  border-left: 0px;
  opacity: 0;
  overflow-y: auto;
}

.sidenav.open {
  right: 0;
  opacity: 1;
}

.sidenav {
  padding: 30px 40px;
}

.sidenav a {
  font-size: 48px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

.sidenav a:hover {
  color: #bc4040 !important;
}

.dc-title h6 {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding: 10px 0;
  letter-spacing: 2px;
}

.header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon span {
  font-size: 34px;
}

.header-icon button {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background: none;
  border: 0px;
}

.header-icon li {
  margin-right: 15px;
}

.header-icon li a {
  color: black;
}

.header-icon li i {
  font-size: 19px;
}

.header-icon li:hover a {
  color: #bc4040;
}

.header-icon li:hover button {
  color: #bc4040;
}

.search {
  font-size: 36px !important;
}

.profile {
  font-size: 32px !important;
}

.cart {
  font-size: 29px !important;
}

.favorite {
  font-size: 28px !important;
}

.main-banner-single {
  height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ma-image img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-title h2 {
  font-family: "Parisienne";
  font-size: 84px;
  color: black;
}

.new-arrivals {
  height: 80vh;
  width: 100%;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.nr-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-arrivals .slick-initialized .slick-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nrs-img img {
  height: 500px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nrs-desc {
  width: 50%;
  display: initial;
}

.nrs-title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
}

.nrs-title h6 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #242424;
  letter-spacing: 0.5;
}

.color {
  margin: 10px 0;
}

.color-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.5px;
}

.color-title h6 {
  margin-right: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.color-title span {
  font-weight: 600;
}

.nrs-text {
  margin-bottom: 30px;
  margin-top: 20px;
}

.nrs-text p {
  font-size: 17px;
}

.new-arrivals .pc-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-arrivals .pcr-regular-rate {
  margin-left: 10px;
}

.new-arrivals .pcr-discounted-rate h4 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1px;
}

.featured-category {
  height: auto;
  width: 100%;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.custom-category-image {
  text-align: center;
}

.custom-category-image img {
  height: 400px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-category {
  margin-top: 120px;
}

.custom-padding {
  padding: 0px 200px;
}

.custom-margin-30 {
  margin-bottom: 30px;
}

.third-category:first-child {
  margin-top: 60px;
}

.category-quote {
  padding: 40px;
  border: 3px solid black;
}

.category-quote h6 {
  font-family: "Parisienne";
  font-size: 42px !important;
  text-transform: capitalize;
  line-height: 58px;
}

.category {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.category::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#202020), to(#18181846));
  background-image: linear-gradient(to top, #202020 0%, #18181846 100%);
  content: "";
  z-index: 2;
}

.category .category-title {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3;
  padding: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.category .category-title h6 {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  color: white;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.category .learn-more {
  position: absolute;
  bottom: 0%;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
  outline: 2px solid white;
}

.category .learn-more a {
  font-size: 18px;
  color: white;
}

.category img {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.category:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.quick-view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  background: rgba(54, 54, 54, 0.794);
  color: white;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  display: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.quick-view i {
  margin-right: 10px;
  font-style: 13px;
}

.quick-view span {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: capitalize;
}

.product-card .uk-button-default {
  border: 0px;
}

.product-card .uk-button-default:hover {
  background: black;
  color: white;
  -webkit-box-shadow: 2px 3px #ababab;
          box-shadow: 2px 3px #ababab;
}

.product-card .uk-button {
  line-height: 0px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 35px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fcf2e6;
  line-height: 50%;
  display: inline-block;
  height: 80px;
  border-radius: 50%;
  /* background: antiquewhite; */
  border: 2px solid antiquewhite;
  width: 80px;
  /* background: #000000; */
  line-height: 80px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.slick-arrow:hover {
  -webkit-box-shadow: 2px 3px #ababab;
          box-shadow: 2px 3px #ababab;
  background-color: antiquewhite;
  color: indianred;
}

i.fas.fa-angle-right.slick-arrow {
  right: 54px;
}

i.fas.fa-angle-left.slick-arrow {
  left: 54px;
}

.ms-single {
  color: black !important;
}

.mss-img img {
  height: 600px;
  width: 555px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mss-title {
  margin: 13px 0;
}

.mss-title h4 {
  font-size: 20px;
  color: black;
}

.mss-title h4 {
  color: black;
}

.mss-price h6 {
  color: black;
}

.modal-slider .pc-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-slider .pc-rates .pcr-regular-rate {
  margin-right: 10px;
}

.modal-slider .pc-rates h4 {
  color: black !important;
  font-weight: 600;
}

.modal-slider .pc-rates h5 {
  color: grey !important;
}

.product-specification {
  margin: 10px 0;
}

.product-specification li {
  margin-bottom: 8px;
  font-size: 14px;
}

.product-specification li:before {
  margin-right: 10px;
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: green;
}

.co-quantity {
  margin: 20px 0;
}

.co-quantity h6 {
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

.co-quantity input[type="number"] {
  width: 100%;
  border: 1px solid #adadad;
  font-size: 0.8rem;
  padding: 0.6rem 1.6rem;
}

.mss-desc .learn-more {
  margin: 20px 3px;
  display: block !important;
  text-align: center;
}

.mss-desc .learn-more a {
  color: black;
}

.mss-desc .learn-more a:hover {
  color: white;
}

.mss-desc .learn-more a::before {
  content: "\f290";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}

.mss-desc .learn-more:hover a {
  color: white;
}

.view-details {
  margin: 30px 0;
}

.view-details a h5 {
  font-size: 18px;
  text-align: center;
  color: black;
  text-transform: capitalize;
  text-decoration: underline;
  letter-spacing: 0.5px;
}

.parallax-main-about {
  position: relative;
  height: 70vh;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.parallax-main-about::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#202020), to(#18181846));
  background-image: linear-gradient(to top, #202020 0%, #18181846 100%);
}

.parallax-main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pma-title h3 {
  color: white;
  font-family: "Parisienne";
  font-size: 100px;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}

.pma-text {
  padding: 20px 250px;
}

.pma-text p {
  text-align: center;
}

.pma-content {
  color: white;
  z-index: 3;
  text-align: center;
  margin: 30px 0;
}

.pma-content .learn-more {
  outline: 3px solid white;
}

.pma-content .learn-more a {
  color: white;
}

.main-search {
  /* width: 71%; */
  position: absolute;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.main-search .form-control {
  border: none;
  border-bottom: 2px solid #6c757d !important;
  border-radius: 0px;
  text-align: center;
  font-size: 38px;
  background: antiquewhite;
}

.main-search .input-group-text {
  background: none;
}

.main-search .material-icons {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 48px;
  color: #6c757d;
}

.ms-content {
  position: absolute;
  top: 34%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 100%;
}

.main-discover .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0px;
  margin-bottom: 30px;
}

.main-discover .nav-tabs .nav-link {
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 83px;
  color: indianred;
}

.main-discover .nav-tabs .nav-item.show .nav-link,
.main-discover .nav-tabs .nav-link.active {
  border-radius: 0px;
  background: indianred;
  color: white;
  border-radius: 24px;
  padding: 10px 18px;
  color: white;
  border-color: #dee2e6 #dee2e6 #fff;
  -webkit-box-shadow: 2px 3px #ababab;
          box-shadow: 2px 3px #ababab;
}

.main-discover li.nav-item {
  font-size: 18px;
  text-transform: capitalize;
  color: indianred;
  font-size: 18px;
  text-transform: capitalize;
}

.md-nav-tabs {
  margin: 24px;
}

.promotion-banner .promotional-banner img {
  height: 70vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.is-single {
  position: relative;
}

.is-single .insta-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: none;
  z-index: 3333;
}

.is-single::before {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: 33;
  background: #ffe4c46b;
}

.is-single:hover::before {
  display: block;
  opacity: 1;
}

.is-single:hover .insta-logo {
  display: block;
}

.iss-img {
  margin: 0 10px;
  position: relative;
}

.iss-img img {
  height: 400px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-footer {
  padding: 50px;
}

.footer-title {
  margin-bottom: 30px;
}

.footer-title h3 {
  color: #4c4c4c;
  text-transform: uppercase;
}

.footer-links {
  font-size: 14px;
}

.footer-links li {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.title-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

.title-button-wrapper h3 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
}

.ci-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ci-image img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ci-image a {
  font-size: 24px;
}

.cart-item-single {
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 27px;
}

.ci-title {
  margin: 10px 0;
}

.ci-title h6 {
  line-height: 24px;
}

.ci-cal h5,
.ci-cal h3,
.ci-cal span {
  display: inline;
  margin: 0 4px;
}

.ci-cal .total {
  font-weight: 700;
}

.cart-item-single {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.sub-total {
  padding: 10px 20px;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.sub-total span {
  margin-left: 10px;
}

.sub-total h6 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.sub-total span {
  text-transform: uppercase;
  font-weight: 600;
}

.continue-shopping {
  padding: 10px 20px;
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.continue-shopping a {
  font-size: 18px;
  margin: 0 6px;
  text-transform: capitalize;
}

.profile-content {
  margin: 8px 0;
}

.profile-content a {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.profile-content li {
  margin-bottom: 12px;
}

.promotional-card {
  margin: 30px 0;
}

.promotional-card img {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-detial a {
  font-size: 14px;
}

.contact-detial li {
  margin-bottom: 12px;
}

#profile .social-icons {
  margin: 30px 0;
}

#profile .social-icons a {
  font-size: 16px;
}

.breadcrumb {
  background-color: #f7dab8;
  border-radius: 0px;
  font-size: 12px;
  padding: 12px 16px;
}

.ms-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
  margin-left: 8px;
}

.ms-top span {
  color: #6c6256;
  border-bottom: 1px solid #858585;
  font-size: 14px;
  text-transform: capitalize;
}

.mst-sort select {
  color: #6c6256;
  border-bottom: 1px solid #858585;
  font-size: 14px;
  text-transform: capitalize;
  background: #f7dab8;
  padding: 5px 38px;
  border: none;
  border-bottom: 1px solid grey;
}

.main-shop .product-card .pc-title h6 {
  font-size: 14px;
  line-height: 23px;
  margin: 8px 0;
}

.main-shop .product-card {
  text-align: center;
  margin-bottom: 25px;
}

.filter-title h6 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #858585;
}

.filter-single {
  margin-bottom: 20px;
}

.fs-title {
  padding: 10px 10px;
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fs-title h6 {
  color: white;
  margin-bottom: 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 14px;
}

.fs-title button {
  color: black;
  background: #f7dab8;
  border: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.fs-title button:hover {
  -webkit-box-shadow: 2px 3px #ababab;
          box-shadow: 2px 3px #ababab;
}

.filter-content {
  margin: 10px 0;
}

.filter-content .form-check {
  margin: 4px 0;
}

.filter-content .form-check-label {
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
}

.view_content_more {
  margin: 8px 0;
  border: none;
  background: none;
  font-size: 12px;
  text-decoration: underline;
}

.color-swatches {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 0 4px;
  border: 1px solid grey;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.color-swatches:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feature .color-swatches {
  height: 20px;
  width: 20px;
  background: red;
  display: inline-block;
  margin: 0 4px;
  border: 1px solid grey;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.feature .color-swatches:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.red {
  background: indianred;
}

.aquamarine {
  background: aquamarine;
}

.beige {
  background: beige;
}

.lightgreen {
  background: lightgreen;
}

.lightslategrey {
  background: lightslategrey;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

#myimage {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.img-zoom-result {
  display: none;
}

.pd-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pd-stock h6 {
  font-size: 14px;
  margin-bottom: 0px;
}

.pd-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green_sig {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #5bc236;
  margin-right: 10px;
}

.product-detail .pcr-discounted-rate {
  margin: 10px 0;
}

.product-detail .pcr-discounted-rate h4 {
  font-size: 32px;
}

.specification li {
  margin-bottom: 8px;
}

.specification li:before {
  content: "\f56b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  margin-right: 8px;
  color: grey;
}

.size {
  margin: 30px 0;
}

.size h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.size span {
  background: #4c4c4c;
  color: antiquewhite;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.product-detail .co-quantity {
  margin: 0px;
}

.product-detail .co-quantity h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.product-detail .learn-more a {
  color: #fcf2e6;
}

.product-detail .learn-more {
  background: black;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.wishlist {
  border: 2px solid black;
  background: none !important;
}

.wishlist a {
  color: black !important;
}

.share-option {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-option li {
  margin-right: 20px;
  text-transform: capitalize;
}

.share-option li i {
  margin-right: 6px;
}

.share-option li a {
  color: #4c4c4c;
}

.pdi-image img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-additional-info {
  padding: 25px 0;
}

.review-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.review-title h2 {
  text-transform: capitalize;
  text-decoration: underline;
}

.pm-image {
  margin-right: 10px;
}

.pm-image img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating ul li a {
  font-size: 12px;
}

.pm-name h6 {
  margin-bottom: -15px;
  font-size: 18px;
  font-weight: 600;
}

.pm-content {
  margin: 12px 0;
}

.product-detail .profile {
  border-bottom: 1px solid black;
  margin-bottom: 18px;
}

.write-review {
  padding: 50px 30px;
  border: 1px solid #9b9b9b;
}

.write-review .info {
  padding: 10px 0;
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
}

.write-review .info h6 {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
}

.wr-title h6 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}

.your_rating h6 {
  font-size: 13px;
  text-transform: capitalize;
}

.your_rating .rating a {
  font-size: 18px;
}

.write-review .form-group {
  margin: 20px 0;
}

.write-review .form-control {
  z-index: 99;
  border-radius: 0px;
  background: whitesmoke;
}

.write-review button {
  background: black;
  color: white;
  border-radius: 0px;
  letter-spacing: 1px;
}

.write-review button:hover {
  color: white;
  -webkit-box-shadow: 1px 1px 10px 0px #00000008;
          box-shadow: 1px 1px 10px 0px #00000008;
}

.return_delivery {
  margin-bottom: 20px;
  margin-top: 40px;
}

.return_delivery .btn {
  background: #4c4c4c;
  color: #fcf2e6;
  border-radius: 0px;
  margin-right: 10px;
}

.return_delivery .modal-content {
  border-radius: 0px;
}

.return_delivery .modal-dialog {
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  top: 50%;
}

.view_contents {
  display: none;
}

.cart-table {
  font-size: 16px;
}

.cart-table th {
  font-size: 20px;
  text-transform: capitalize;
}

.cart-table .cart-item-single {
  border-bottom: 0px;
}

.cart-table .cp-image img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-table .cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-table .desc {
  margin-left: 20px;
}

.cart-table .desc h6 {
  font-size: 24px;
  text-transform: capitalize;
}

.cart-table .desc .size {
  margin: 20px 0;
}

.cart-table .desc .size span {
  font-size: 12px;
  text-transform: capitalize;
}

.cart-table .desc .remove button {
  text-decoration: underline;
  border: none;
  outline: none;
  background: none;
  color: indianred;
}

.cart-table .co-quantity {
  width: 70%;
}

.cart-table .table td,
.cart-table .table th {
  vertical-align: baseline;
}

.cart-table .table td,
.cart-table .table th {
  border-bottom: 1px solid #dee2e6;
}

.sub-total h6 {
  font-size: 26px;
}

.is-title span {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}

.instruction .form-control {
  border-radius: 0px;
}

.cart-cost .sub-total-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0;
}

.cart-cost h6 {
  font-size: 24px;
  text-transform: capitalize;
}

.t-title {
  font-weight: 600;
  margin-right: 20px;
}

.sub-total-cart span {
  font-size: 12px;
  display: block;
}

.sub-total-cart h5 {
  font-size: 24px;
}

.change_location {
  text-align: right;
  font-size: 14px;
}

.change_location button {
  border: none;
  background: none;
  background: #4c4c4c;
  color: #fcf2e6;
  padding: 10px 20px;
}

.buttons {
  text-align: right;
  font-size: 18px;
}

.notice {
  text-align: right;
}

.notice span {
  font-size: 12px;
  font-style: italic;
}

.cart .learn-more {
  margin: 15px 0;
}

.checkout_breadcrumb .breadcrumb {
  padding-left: 0;
  font-size: 16px;
  text-transform: capitalize;
  background: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.checkout_breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.checkout-title {
  margin: 26px 0;
}

.checkout-title h4 {
  text-transform: capitalize;
  font-size: 24px;
}

.form-control {
  border-radius: 0;
}

.contact_form label {
  font-size: 14px;
  color: #646464;
}

.shipping-form label {
  font-size: 14px;
  color: #646464;
  text-transform: capitalize;
}

.continue-button {
  margin: 30px 0;
}

.continue-button button {
  padding: 10px 20px;
  background: black;
  border: none;
  color: white;
}

.cart-details-right {
  background: #f7dab8;
  padding: 40px 60px;
}

.cart-details-right .ci-image img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-details-right .ci-title {
  margin: 8px 0;
}

.cart-details-right .ci-cal h5 {
  font-size: 14px;
}

.cart-details-right .ci-cal h3 {
  font-size: 14px;
}

.cart-details-right .cart-item-single {
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.cart-details-right .sub-total-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews .sec-title {
  padding: 30px 0;
}

.cart-details-right .sub-total-cart {
  margin: 8px 0;
}

.cart-details-right .sub-total-cart h6 {
  text-transform: capitalize;
}

.cs-info {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  margin: 30px 0;
}

.cs-info h3 {
  font-size: 16px;
}

.cs-info h3,
.cs-info h4 {
  text-transform: capitalize;
}

.cs-info h4 {
  font-weight: 600;
}

.d_flex_wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d_flex_wrapper h3 {
  margin-bottom: 0px;
}

.d_flex_wrapper a {
  color: grey;
}

.contact_shipping {
  padding-right: 100px;
}

.login-content {
  padding: 0 20rem;
}

.login-content .sec-title h2 {
  font-size: 24px;
  letter-spacing: 1px;
}

.form {
  padding: 0px 100px;
}

.login-content label {
  text-transform: capitalize;
}

.password a {
  font-size: 14px;
  color: grey;
  text-transform: capitalize;
}

.login button {
  outline: 3px solid black;
  color: black;
  display: inline-block;
  padding: 10px 20px;
  margin: 30px 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 100%;
  text-transform: uppercase;
  background: black;
  letter-spacing: 2px;
  font-weight: 300;
  color: white;
  border: none;
}

.login button:hover {
  background: indianred;
  outline: 3px solid black;
  -webkit-box-shadow: 6px 7px #ababab;
          box-shadow: 6px 7px #ababab;
}

.login .learn-more {
  width: 100%;
  text-align: center;
  margin: 0;
}

.design-or {
  margin: 30px 0;
  text-align: center;
}

.design-or h3 {
  color: grey;
  text-transform: uppercase;
  position: relative;
}

.design-or h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 57%;
  height: 2px;
  width: 25%;
  background: grey;
}

.design-or h3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 57%;
  height: 2px;
  width: 25%;
  background: grey;
}

.login .form-control {
  height: calc(2em + 0.75rem + 2px);
}

.cws-title {
  text-align: center;
}

.cws-title h5 {
  text-transform: capitalize;
}

.lsi-icon img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-social-icon {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-social-icon li {
  margin: 0 8px;
}

.register .password a {
  pointer-events: none;
}

.main-wishlist .cart-item-single {
  border-bottom: 0px;
  padding: 20px;
  border: 2px solid #e9d8c3;
}

.dashboard .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .nav-tabs .nav-item {
  text-transform: capitalize;
}

.dashboard .nav-tabs {
  border-bottom: 1px solid black;
}

.dashboard .nav-tabs .nav-item.show .nav-link,
.dashboard .nav-tabs .nav-link.active {
  background: #f7dab8;
  border-color: #000000 #000000 #000;
}

.dashboard .nav-tabs .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 18px;
}

.dashboard-navigation-tab #myTabContent {
  padding: 0 20rem;
}

.dashboard-navigation-tab .cs-info {
  border-bottom: 1px solid grey;
}

.edi-buttons a {
  color: grey;
  margin-right: 30px;
  text-decoration: underline;
}

.confirmation .learn-more {
  margin-right: 30px;
}

.confirmation .return {
  outline: 3px solid grey;
}

.confirmation .return a {
  color: grey;
}

.edit-account-information {
  padding: 20px;
  border: 1px solid grey;
  display: none;
}

.c-title {
  margin-top: 40px;
  margin-bottom: 15px;
}

.c-title h5 {
  text-transform: capitalize;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.change-email,
.change-password {
  display: none;
}

.dashboard-navigation-tab .d_flex_wrapper i {
  margin-right: 8px;
}

.edit-billing-information {
  display: none;
}

.dashboard {
  padding: 0 12rem;
}

.dasboard-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.dasboard-title h3 {
  text-transform: uppercase;
}

.dashboard-navigation-tab {
  margin: 90px 0;
}

.dashboard .cart-item-single {
  margin: 30px 0;
  border-bottom: 0px;
  padding: 20px;
  border: 2px solid #e9d8c3;
}

.dashboard .cart-item-single i {
  margin-right: 6px;
}

.dashboard .ci-image a {
  font-size: 14px;
  color: grey;
}

.dasboard-title .learn-more {
  margin: 0px;
  padding: 5px 15px;
}

.dasboard-title .learn-more a {
  font-size: 12px;
}

.edit-shipping-information {
  display: none;
}

#c_email,
#c_password {
  text-decoration: underline;
}

.custom-sec-title h6 {
  color: black;
}

.sticky_wrapper-about {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.about-us-image img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-bottom {
  background: #f7dab8;
  padding: 20px;
}

.about-image-second {
  margin-top: 2vh;
}

.about-image-second img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-form {
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  padding: 60px 60px;
  margin-left: 60px;
  -webkit-box-shadow: 7px 8px 20px #00000029;
          box-shadow: 7px 8px 20px #00000029;
}

.no-pad {
  padding: 0;
}

.contact-us .learn-more {
  text-align: center;
  width: 100%;
}

.contact-us .learn-more button {
  background: none;
  border: none;
  text-transform: capitalize;
}

.contact-us .learn-more button:hover {
  color: white;
}

.contact-detail {
  margin: 30px 0;
}

.contact-detail li {
  margin-bottom: 10px;
}

.contact-detail li a {
  font-size: 18px;
  color: grey;
}

.contact-detail li span {
  color: black;
  margin-left: 6px;
}

.social-icons h3 {
  font-size: 12px;
}

.product-detail .btn-group > .btn-group:not(:last-child) > .btn,
.product-detail .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-right: 10px;
  height: 29px;
  width: 100%;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail .btn-secondary:not(:disabled):not(.disabled).active,
.product-detail .btn-secondary:not(:disabled):not(.disabled):active,
.product-detail .show > .btn-secondary.dropdown-toggle {
  color: antiquewhite;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}

.product-detail .btn {
  border-radius: 0px;
}

.product-detail .btn-group > .btn-group:not(:first-child) > .btn,
.product-detail .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.size select {
  background: #4c4c4c;
  color: antiquewhite;
  padding: 10px 5px;
  letter-spacing: 1px;
}

.size p {
  font-style: italic;
  margin-bottom: 0px;
}

.feature {
  margin: 33px 0;
}

.size {
  margin-top: 14px;
  margin-bottom: 25px;
}

.size h5 {
  margin-bottom: 10px;
}

.size p {
  margin-bottom: 6px;
  color: grey;
  font-size: 12px;
  letter-spacing: 0.5px;
}
/*# sourceMappingURL=main.css.map */