@import "./base/globals";
@import "./base/variables";
@import "./base/mixins";
// helper classes
.j-r {
    display: flex;
    justify-content: right;
}

.j-l {
    display: flex;
    justify-content: left;
}

.j-c {
    display: flex;
    align-items: center;
}

.j-c-c {
    justify-content: center;
}

// HEADER
// header-top
.header-bottom {
    margin: 8px 0;
}

.ht-logo {
    text-align: center;
    padding: 20px;
    img {
        // logo css
    }
}

.social-icons {
    display: flex;
    align-items: center;
    li {
        margin-right: 18px;
        font-size: 18px;
        i {
            color: grey;
        }
    }
}

// navigation
.navbar-main {
    .navbar-collapse {
        justify-content: center;
    }
    .nav-link {
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        &:hover {
            color: $primary_color;
        }
    }
}

.dropdown-content {
    padding: 20px 50px;
    display: table;
    position: absolute;
    left: -6%;
    background: white;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 10px 0px #00000008;
    display: none;
    z-index: 1000;
    ul {
        width: 100%;
        column-count: 3;
        width: max-content;
        a {
            font-size: 13px;
            color: rgb(75, 75, 75);
            text-transform: capitalize;
        }
        li {
            margin-bottom: 8px;
            margin-right: 30px;
        }
    }
}

.navbar-image {
    text-align: right;
    margin-top: -30px;
    img {
        margin: 20px;
        height: 250px;
        width: 300px;
        object-fit: contain;
    }
}

.dc-links {
    margin-top: 20px;
    li {
        a {
            &:hover {
                color: $primary_color;
            }
        }
    }
}

.nav-link {
    position: relative;
}

.nav-item {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.dc-title {
    h6 {
        text-transform: uppercase;
        border-bottom: 1px solid black;
        padding: 10px 0;
        letter-spacing: 2px;
    }
}

.header-icon {
    display: flex;
    align-items: center;
    span {
        font-size: 34px;
    }
    button {
        transition: 0.3s linear;
        background: none;
        border: 0px;
    }
    li {
        margin-right: 15px;
        a {
            color: black;
        }
        i {
            font-size: 19px;
        }
        &:hover {
            a {
                color: $primary_color;
            }
            button {
                color: $primary_color;
            }
        }
    }
}

// google icons custom font-size
.search {
    font-size: 36px !important;
}

.profile {
    font-size: 32px !important;
}

.cart {
    font-size: 29px !important;
}

.favorite {
    font-size: 28px !important;
}

// MAIN BANNEr
.main-banner-single {
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

//main about
.ma-image {
    img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
}

.about-title {
    h2 {
        font-family: "Parisienne";
        font-size: 84px;
        color: black;
    }
}

// NEW ARRIVALS
.new-arrivals {
    height: 80vh;
    width: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

// new product
.nr-single {
    display: flex;
    align-items: center;
}

.new-arrivals {
    .slick-initialized .slick-slide {
        display: inline-flex;
        justify-content: space-evenly;
    }
}

.nrs-img {
    img {
        height: 500px;
        width: 500px;
        object-fit: cover;
    }
}

.nrs-desc {
    width: 50%;
    display: initial;
}

.nrs-title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(170, 170, 170);
    h6 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        color: rgb(36, 36, 36);
        letter-spacing: 0.5;
    }
}

.color {
    margin: 10px 0;
}

.color-title {
    display: flex;
    letter-spacing: 0.5px;
    h6 {
        margin-right: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    span {
        font-weight: 600;
    }
}

.nrs-text {
    margin-bottom: 30px;
    margin-top: 20px;
    p {
        font-size: 17px;
    }
}

.new-arrivals {
    .pc-rates {
        display: flex;
        align-items: center;
    }
    .pcr-regular-rate {
        margin-left: 10px;
    }
    .pcr-discounted-rate {
        h4 {
            font-weight: 600;
            font-size: 32px;
            letter-spacing: 1px;
        }
    }
}

.featured-category {
    height: auto;
    width: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.custom-category-image {
    text-align: center;
    img {
        height: 400px;
        width: 350px;
        object-fit: cover;
    }
}

.first-category {
    margin-top: 120px;
}

.custom-padding {
    padding: 0px 200px;
}

.custom-margin-30 {
    margin-bottom: 30px;
}

.third-category {
    &:first-child {
        margin-top: 60px;
    }
}

.category-quote {
    padding: 40px;
    border: 3px solid black;
    h6 {
        font-family: "Parisienne";
        font-size: 42px !important;
        text-transform: capitalize;
        line-height: 58px;
    }
}

.category {
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #202020 0%, #18181846 100%);
        content: "";
        z-index: 2;
    }
    .category-title {
        position: absolute;
        top: 40%;
        left: 50%;
        z-index: 3;
        padding: 10px;
        transform: translateX(-50%);
        width: 100%;
        h6 {
            color: white;
            letter-spacing: 2px;
            font-size: 24px;
            line-height: 36px;
            text-transform: uppercase;
        }
    }
    .learn-more {
        position: absolute;
        bottom: 0%;
        z-index: 4;
        left: 50%;
        transform: translateX(-50%);
        width: 55%;
        outline: 2px solid white;
        a {
            font-size: 18px;
            color: white;
        }
    }
}