@import "./variables";
@import "./mixins";
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif";
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: "noto serif", sans-serif;
    background: #faebd7a1;
    a {
        transition: 0.25s linear;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: none;
            color: $primary_color;
        }
        &:focus {
            outline: none;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    p {
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 15px;
        line-height: 30px;
        text-align: justify;
    }
}

.sec-padding {
    padding: 60px 0;
}

.sec-title {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    h2 {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 5px;
        position: relative;
        display: inline-block;
        padding-left: 10px;
        font-weight: 300;
        color: #4c4c4c;
    }
    h6 {
        font-family: "Parisienne";
        font-size: 32px;
        text-transform: capitalize;
        color: indianred;
    }
}

.container {
    max-width: 1400px;
}

// learn-more
.learn-more {
    outline: 3px solid black;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    margin: 30px 0;
    transition: 0.3s linear;
    a {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
    }
    &:hover {
        background: indianred;
        outline: 3px solid black;
        box-shadow: 6px 7px #ababab;
        a {
            color: white;
        }
    }
}

.view-more-button {
    text-align: center;
}

// product-card
.product-card {
    text-align: center;
    margin-bottom: 40px;
    .pc-title {
        h6 {
            margin: 10px 0;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0.5px;
            font-weight: 800;
        }
    }
    .pc-rates {
        display: flex;
        align-items: center;
        justify-content: center;
        .pcr-regular-rate {
            margin-right: 10px;
            h5 {
                font-size: 14px;
                color: grey;
            }
        }
        .pcr-discounted-rate {
            h4 {
                font-weight: bold;
            }
        }
    }
    &:hover {
        .quick-view {
            opacity: 1;
            display: block;
            z-index: 10;
        }
    }
}

.pcs-image {
    text-align: center;
    position: relative;
    display: inline-block;
    .img-top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    &:hover {
        .img-top {
            opacity: 1;
        }
    }
    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        transition: opacity 0.2s ease-in-out;
    }
    .img-top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        img {
            width: 100%;
            object-fit: cover;
            height: 200px;
        }
    }
}